<h1>this is the homepage</h1>

<% if user_signed_in? %>
  <p>welcome to the app</p>
<% else %>
  <p>please sign up!</p>
<% end %>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid accusantium sed dolorum fugiat harum, nostrum atque voluptates. Temporibus sequi itaque provident, possimus quam dolorem ratione harum ullam molestiae velit suscipit!
Aut blanditiis amet perferendis nisi eum cumque nihil rem veniam ex minima atque vero, rerum distinctio vel quisquam minus, voluptatum odio unde illo. Inventore eveniet minima consectetur atque doloremque officia?
Modi saepe eveniet ab adipisci? Aliquam, commodi voluptas. Recusandae sequi praesentium modi, eaque atque culpa maxime minus doloribus aut possimus repellendus! Dolorum voluptates fugiat corporis incidunt sunt cum praesentium libero?
Ipsa voluptatibus, ea fuga sapiente error officia consequuntur eligendi iste optio maxime illum, repudiandae repellat, ipsam deserunt impedit reprehenderit culpa iure mollitia. Distinctio exercitationem dolorum, eveniet non molestias quis unde?
Ducimus autem dolor totam culpa eaque saepe! Repellat, quo. Delectus debitis facilis nemo repudiandae in est quisquam incidunt! Ut nisi nulla impedit, voluptatum neque reprehenderit ab eligendi non exercitationem ipsa?
Magni voluptate nemo consequuntur iste provident suscipit eligendi deserunt esse commodi fugit atque eveniet est, quos voluptas, eaque neque beatae doloribus amet cupiditate fugiat ipsa cumque dolore? Vero, voluptatum nesciunt.
Maxime laudantium, iure voluptatibus corrupti quod fuga ut nam. Nesciunt eum cumque quam labore, recusandae voluptate aliquam facere deserunt quis in, aut magni possimus debitis eos non repellendus, fugit dolore.
Distinctio impedit expedita corrupti maxime voluptatibus non soluta exercitationem voluptate laboriosam nostrum, repellat doloremque repellendus, dolorem facere odio aliquam recusandae suscipit incidunt sequi architecto, sunt rem nobis? Illum, cum voluptas.
Tenetur corporis laborum est at perferendis molestias quo dolorem dolores iure ipsum veritatis officiis, nesciunt quis id placeat nostrum libero, aperiam dolorum voluptatum, quasi labore numquam corrupti ducimus inventore. Expedita?
Quaerat ad et illo laboriosam consectetur corporis eius saepe sit blanditiis quas consequuntur quae officiis ex soluta, fugit, nisi sint totam ab! Tempore molestiae facilis beatae velit hic, dolorum accusantium?</p>
